.container{
    margin: 15px;
}

.prerequisites{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.article{
    margin: 30px 0;
}
.paragraph{
    margin: 15px 0;
}
.note{
    background-color: lightblue;
    padding: 15px;
    border-radius: 5px;
}
.bold{
    font-weight: bold;
}
.bg-lightgray{
    background-color: lightgray;
    border-radius: 3px;
    margin: 3px;
    padding: 3px 3px;
}
.image-container{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img{
    max-width: 80%;
}

