*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
}

.flex{
    display: flex;
}

.w-100{
    width: 100%;
}
.block{
    display: block;
}
