.sidebar {
    flex: 2;
    height: calc(100vh - 126px);
    overflow-y: scroll;
    position: sticky;
    top: 126px;
    background-color: rgba(173, 255, 47, 0.1); /* Az átlátszóság beállítása: 0.5 */
    border-right: 1px solid black;
    padding: 10px;
    color: darkblue;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #adff2f;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
}
